html, body {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    /*     color: #CCCCCC; */
}

select {
    /*     background-color: #4f4f4f; */
    /*     color: #CCCCCC; */
    border: none;
}

select option:hover {
    /*background-color: #49c4f4;*/
}

:focus {
    outline: none;
}

*::selection {
    /*     background-color: #49c4f4; */
    /*     color: #2f2f2f; */
}

textarea,
input:not([type="color"]):not([type="checkbox"]):not([type="range"]) {
    /*     background-color: #4f4f4f; */
    /*     color: #CCCCCC; */
    /*     border: solid 2px #666666; */
    /*border: solid 2px;*/
}

textarea:focus,
input:not([type="color"]):not([type="checkbox"]):not([type="range"]):focus {
    /*     border-color: #49c4f4; */
}

textarea[error="true"],
input:not([type="color"]):not([type="checkbox"]):not([type="range"])[error="true"] {
    /*     background-color: #4f4f4f; */
    /*     color: #CCCCCC; */
    /*     border: solid 2px #666666; */
    /*border: solid 2px;*/
    border-color: red;
}



input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    height: 4px;
    /*     background-color: #666666; */
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    /*     background: #CCCCCC; */
    width: 10px;
    height: 20px;
}

input[type=range]::-webkit-slider-thumb:active,
input[type=range]:active::-webkit-slider-thumb {
    /*     background-color: #49c4f4; */
}

.NoSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.Fill {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.Button {
    text-align: center;
    line-height: 27px;
    display: inline-block;
    padding: 0 10px;
}

.listFormItem textarea + .Button {
    max-height: fit-content;
}

.treeBranch .Button {
    max-height: fit-content;
    min-width: fit-content;
}

.Button[selected="false"],
.Button[selected="false"][disabled="true"] {
    background-color: #FF330088;
/*     cursor: default; */
}

.Button[selected="false"]:not([disabled="true"]):hover {
    background-color: #FF330055;
}

.Button[selected="false"]:not([disabled="true"]):active {
    background-color: #FF3300BB;
}

.Button[selected="true"],
.Button[selected="true"][disabled="true"] {
    background-color: #55CC0088;
/*     cursor: default; */
}

.Button[selected="true"]:not([disabled="true"]):hover {
    background-color: #55CC0055;
}

.Button[selected="true"]:not([disabled="true"]):active {
    background-color: #55CC00BB;
}

.ErrorColor {
    color: #AF3838 !important;
}

.Clickable {
    cursor: pointer;
    /*     color: #CCCCCC; */
    /*     background-color: #4f4f4f; */
    background-color: #FF880088;
}

.Clickable:hover {
    /*color: #FFFFFF;*/
    background-color: #FF880055;
}

.Clickable:active {
    /*color: #AAAAAA;*/
    background-color: #FF8800BB;
}

.Clickable[disabled="true"] {
    background-color: #FF880055;
    color: #00000055;
    cursor: not-allowed;
}

.Clickable[disabled="true"]:active {
    color: #00000055;
}

.Clickable[disabled="true"]:hover {
    color: #00000055;
}

.verticalFlow {
    display: flex;
    flex-flow: column;
}

.horizontalFlow {
    display: flex;
    flex-flow: row;
}

#output {
  padding: 20px;
  text-align: center;
}

#ui {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;

    display: flex;
    flex-flow: column;
    /*background-color: #2F2F2F;*/
}

    #uiHeader {
        background-color: #FF880088;
        display: flex;
        flex-flow: row;
        padding: 0px 5px;
    }

        .uiHeaderButton {
            margin: 10px 5px 10px 5px;
        }

    #uiBody {
        flex: 1;
        height: 0;
        display: flex;
        flex-flow: row;
    }

        #uiBodyContent {
            flex: 3;
        }

            .uiBodyContentPage {
                height: 100%;
                overflow-y: auto;
                word-wrap: break-word;
            }

            .uiBodyContentPageHeader {

            }

            .uiBodyContentPageContent {

            }

                .waitContent {
                    text-align: center;
                    font-size: large;
                }

                .projectStage {
                    background-color: #FF880011;
                }

                .projectStage > div:first-child {   /* header or clickable title */
                    padding: 4px
                }

                .projectStage + .projectStage > div:first-child {
                    border-top: #FF8800FF 1px solid;
                }

                .projectStage > div:last-child {    /* body contents of stage */
                    background-color: #FF880033;
                }

                    .stageDivLeft {
                        flex: 1;
                        margin: 0 5px 10px 10px;
                    }

                        .stageDivLeft > div {
                            margin: 10px 0 0 0;
                        }

                    .stageDivRight {
                        flex: 1;
                        margin: 0 10px 10px 5px;
                    }

                        .stageDivRight > div {
                            margin: 10px 0 0 0;
                        }

                    .stageBottom {
                       padding: 10px 10px 10px 10px;
                    }


        #uiBodyPane {
            height: 100%;
            flex: 1;
            background-color: #FF880022;
        }

.form th,
.form td {
    padding: 2px 2px;
    border: none;
}

.listTable {
    margin: auto;
    text-align: center;
}

.listTable thead {
    background-color: #FF880088;
}

.listTable td {
    border: solid 4px #FFFFFF;
    padding: 4px;
    background-color: #FF880022;
}

.listForm {
    display: flex;
    flex-flow: column;
}

    .listForm > div:first-child {
        display: flex;
        flex-flow: row;
    }

        .listForm > div:first-child label {
            flex: 1;
        }

    .listFormItem {
        display: flex;
        flex-flow: row;
        margin: 10px 0;
    }

        .listFormItem input,
        .listFormItem textarea {
            margin: 0 10px 0 0;
            flex: 1;
        }

.progressForm {

}

    .progressForm > div:first-child {
        margin: 0 0 10px 0;
    }

    .progressFormItem {
        margin: 10px 0 10px 10px;
    }

        .progressFormItem > div:first-child {
            margin: 0 10px 0 0;
        }

.featurePopulation {
    margin: 0 0 10px 0;
    background-color: #FF880022;
}

.treeStructure {
    padding: 10px 10px 10px 10px;
}

    .treeStructure > div:first-child > label {
        margin: 0 10px 0 0;
    }

    .treeBranch {
        padding: 10px 0px 0px 20px;
    }

        .treeBranch > div:first-child {

        }

/*             .treeBranch > div:first-child > * {
                display: inline-block;
                width: fit-content;
            }
 */
        .treeBranch > div:first-child > div:first-child {
            margin: 0 10px 0 0;
        }

        .treeLeaf {
            padding: 10px 0px 0px 20px;
        }

            .treeLeaf > div:first-child {
                margin: 0 10px 0 0;
            }

/*             .treeLeaf > * {
                display: inline-block;
                width: fit-content !important;
            }
 */