html, body {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    /*     color: #CCCCCC; */
}

select {
    /*     background-color: #4f4f4f; */
    /*     color: #CCCCCC; */
    border: none;
}

select option:hover {
    /*background-color: #49c4f4;*/
}

:focus {
    outline: none;
}

*::selection {
    /*     background-color: #49c4f4; */
    /*     color: #2f2f2f; */
}

textarea,
input:not([type="color"]):not([type="checkbox"]):not([type="range"]) {
    /*     background-color: #4f4f4f; */
    /*     color: #CCCCCC; */
    /*     border: solid 2px #666666; */
    /*border: solid 2px;*/
}

textarea:focus,
input:not([type="color"]):not([type="checkbox"]):not([type="range"]):focus {
    /*     border-color: #49c4f4; */
}

textarea[error="true"],
input:not([type="color"]):not([type="checkbox"]):not([type="range"])[error="true"] {
    /*     background-color: #4f4f4f; */
    /*     color: #CCCCCC; */
    /*     border: solid 2px #666666; */
    /*border: solid 2px;*/
    border-color: red;
}



input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    height: 4px;
    /*     background-color: #666666; */
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    /*     background: #CCCCCC; */
    width: 10px;
    height: 20px;
}

input[type=range]::-webkit-slider-thumb:active,
input[type=range]:active::-webkit-slider-thumb {
    /*     background-color: #49c4f4; */
}

.NoSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.Fill {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.Button {
    text-align: center;
    line-height: 27px;
    display: inline-block;
    padding: 0 10px;
}

.Button[toggleButton="selected"],
.Button[selected="true"] {
    /*background-color: #49c4f4;*/
    /*color: #2f2f2f;*/
    cursor: default;
}

.Button[toggleButton="selected"]:hover,
.Button[selected="true"]:hover {
    /*color: #2f2f2f;*/
}

.Button[toggleButton="selected"]:active,
.Button[selected="true"]:active {
    /*color: #2f2f2f;*/
}

.ErrorColor {
    color: #AF3838 !important;
}

.Clickable {
    cursor: pointer;
    /*     color: #CCCCCC; */
    /*     background-color: #4f4f4f; */
    background-color: #FF880088;
}

.Clickable:hover {
    /*color: #FFFFFF;*/
    background-color: #FF880055;
}

.Clickable:active {
    /*color: #AAAAAA;*/
    background-color: #FF8800BB;
}

.Clickable[disabled="true"] {
    background-color: #FF880055;
    color: #00000055;
    cursor: not-allowed;
}

.Clickable[disabled="true"]:active {
    color: #00000055;
}

.Clickable[disabled="true"]:hover {
    color: #00000055;
}

.verticalFlow {
    display: flex;
    flex-flow: column;
}

.horizontalFlow {
    display: flex;
    flex-flow: row;
}

#output {
  padding: 20px;
  text-align: center;
}

#ui {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;

    display: flex;
    flex-flow: column;
    /*background-color: #2F2F2F;*/
}

    #uiHeader {
        background-color: #FF880088;
        display: flex;
        flex-flow: row;
        padding: 0px 5px;
    }

        .uiHeaderButton {
            margin: 10px 5px 10px 5px;
        }

    #uiBody {
        flex: 1;
        height: 0;
        display: flex;
        flex-flow: row;
    }

        #uiBodyContent {
            flex: 3;
        }

            .uiBodyContentPage {
                height: 100%;
                overflow-y: auto;
                word-wrap: break-word;
            }

            .uiBodyContentPageHeader {

            }

            .uiBodyContentPageContent {
            }


        #uiBodyPane {
            height: 100%;
            flex: 1;
            background-color: #FF880022;
        }

.form th,
.form td {
    padding: 2px 2px;
    border: none;
}

.listTable {
    margin: auto;
    text-align: center;
}

.listTable thead {
    background-color: #FF880088;
}

.listTable td {
    border: solid 4px #FFFFFF;
    padding: 4px;
    background-color: #FF880022;
}

.projectStage {
    background-color: #FF880011;
}

.projectStage div:first-child {

}

.projectStage div:last-child {
    background-color: #FF880033;
}

.waitContent {
    text-align: center;
    font-size: large;
}
